<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meadowlark Travel</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <!--
      http://www.i2clipart.com/cliparts/7/f/c/f/clipart-meadow-lark-7fcf.png
    -->
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
  </body>
</html>

